body
{
    background-color: black;
}
div
{
    background-color: white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
h1
{
    color:blue;
}
form
{
    text-align: left;
}